# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Experience\_React\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
